.app.dark {
  background-color: #111111;
  color: rgb(156, 156, 156);

  .navbarContainer {
    background-color: #111111;
    color: rgb(156, 156, 156);
    border-bottom: 0.5px solid rgb(156, 156, 156);

    .logo {
      color: rgb(156, 156, 156);
    }

    .searchBar {
      background-color: rgb(156, 156, 156);
      border: none;
      -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);

      input {
        background-color: rgb(156, 156, 156);
        border: none;
      }
    }

    .autocom-box {
      background: #111111;
      -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);

        .search_item {

          &:hover {
            background: #4c4c4e8f;
          }
  
          .search_info {
            color: rgb(156, 156, 156);
            p {
              margin-bottom: 5px;
  
              span {
                color: #413fd1;
                margin-left: 5px;
              }
            }
          }
        }
        
        .search_tag {
          background: #4c4c4e8f;
        }
    }

    .navbarLink {
      color: rgb(156, 156, 156);
    }
    .searchInput {
      color: #000000;
    }
  }

  .notification_wrap {
    .dropdown {
      background-color: #111111;
      -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);

      .notify_item {

        &:hover {
          background: #4c4c4e8f;
        }

        .notify_info {
          color: rgb(156, 156, 156);
          p {
            margin-bottom: 5px;

            span {
              color: #413fd1;
              margin-left: 5px;
            }
          }

          .notify_time {
            color: #c5c5e6;
            font-size: 12px;
          }
        }
      }
    }
  }

  .sidebar {
    background-color: #111111;
    color: rgb(156, 156, 156);

    .sidebarButton {
      background-color: rgb(156, 156, 156);
      color: #000000;
    }
  }

  .menuLink:hover {
    background-color: rgba(98, 97, 97, 0.3);
  }

  .sidebarFriendName {
    color: rgb(156, 156, 156);
  }

  .feed {
    background-color: #111111;
    color: rgb(156, 156, 156);

    .share {
      -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);

      .shareWrapper .shareBottom .shareOptions .shareOption {
        .shareButton {
          background-color: rgb(156, 156, 156);
          color: #000000;
        }
      }
    }

    .shareInput {
      color: rgb(156, 156, 156);
    }

    .post {
      -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
        0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    }
  }

  .rightbar {
    background-color: #111111;

    .rightbarUsername {
      color: rgb(156, 156, 156);
    }
  }

  .editButton {
    background-color: rgb(156, 156, 156);
    color: #000000;
  }

  .editProfile {
    .editprofileRightBottom {
      .top {
        -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
          0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
          0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
          0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
          0 3.5px 6px hsla(0, 0%, 0%, 0.09);
      }

      .bottom {
        -webkit-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
          0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
          0 3.5px 6px hsla(0, 0%, 0%, 0.09);
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
          0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
          0 3.5px 6px hsla(0, 0%, 0%, 0.09);

        .right {
          form {
            input {
              color: rgb(156, 156, 156);
            }
            .updateButton {
              background-color: rgb(156, 156, 156);
              color: #000000;
            }
          }
        }
      }
    }
  }
}
