.profileRightBarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;

  .profileRightBarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  .profileRightBarFollowingName {
    align-self: center;
    margin-top: 5px;
  }
}
